.container {
    display: flex;
}

.content {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.content section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}

.sidebar {
    height: 100vh;
    background: var(--white);
    left: 0;
    top: 0;
    width: 3.5rem;
    padding: 0.5rem;

    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar button {
    border: none;
    background: var(--white);
}